body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rules_form{
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    background-color: azure;
    border-radius: 10px;
}
.conditions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

#conditions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}